.top-search{
  display: flex;
  background: #0074FF;
  .logo{
    width: 20%;
    line-height: 50px;
    img {
      height: 25px;
      vertical-align:middle;
    }
  }
  .search{
    width: 80%;
    .van-search__content{
      background: #639CFF;
      .van-icon{color:#fff}
    }
  }
}
.van-tabs__line{
  background-color: #0074FF !important;
}
.van-nav-bar .van-icon{
  color:#2C2D2C !important;
}
.van-nav-bar__text{
  color:#2C2D2C !important;
}
